<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>636156711768-45sc9tco8e80ct2g5n9rgpfck864jicq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636156711768-45sc9tco8e80ct2g5n9rgpfck864jicq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>636156711768-5rjkmi652ldmvt0nq6c9rms5eop36p5s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBB0qr-HgJXbTgMYLcVJFPm5Nkx8-gj8CI</string>
	<key>GCM_SENDER_ID</key>
	<string>636156711768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.urbubblepop.pop</string>
	<key>PROJECT_ID</key>
	<string>pop-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>pop-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636156711768:ios:96651d8ceb3219f3</string>
	<key>DATABASE_URL</key>
	<string>https://pop-mobile-app.firebaseio.com</string>
</dict>
</plist>